# -----------------
# Laravel Artifacts
# -----------------
/.phpunit.cache
.phpunit.result.cache
/.laravel-lsp
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
composer.lock
.ai
