<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="false">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Feature">
      <directory suffix="Test.php">./tests/Feature</directory>
    </testsuite>
    <testsuite name="Integration">
      <directory suffix="Test.php">./tests/Integration</directory>
    </testsuite>
    <testsuite name="Nova">
      <directory suffix="Test.php">./tests/Nova</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_KEY" value="base64:Xgs1LQt1GdVHhD6qyYCXnyq61DE3UKqJ5k2SJc+Nw2g="/>
    <env name="APP_ENV" value="testing"/>
    <env name="APP_URL" value="http://localhost"/>
    <env name="CACHE_DRIVER" value="redis"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="QUEUE_DRIVER" value="sync"/>
    <env name="DB_CONNECTION" value="sqlite"/>
    <env name="DB_DATABASE" value=":memory:"/>
    <env name="REDIS_HOST" value="127.0.0.1"/>
    <env name="PGSQL_HOST" value="127.0.0.1"/>
    <env name="PGSQL_USERNAME" value="forge"/>
    <env name="PGSQL_PASSWORD" value="EgHVxwTqHq9zikfzAoe6"/>
    <env name="PGSQL_DATABASE" value="testing"/>
  </php>
</phpunit>
